<% include partials/header %>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>My Orders</h2>
        <% orders.forEach(function(order) { %>
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                        <% order.items.forEach(function(item) { %>
                            <li class="list-group-item">
                                <span class="badge"><%= item.price %></span>
                                <%= item.item.name %> | <%= item.qty %> Units
                                <a class="btn btn-primary btn-xs" href="/orders/<%= order._id %>/items/<%= item.item._id %>">Estimate Arrival</a>
                            </li>
                        <% }) %>
                    </ul>
                </div>
                <div class="panel-footer">
                    <strong>Total Price: <%= order.cart.totalPrice %> INR</strong>
                </div>
            </div>
        <% }) %>
    </div>
</div>
<% include partials/footer %>
